<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" routerLinkActive="active"><a routerLink="home">Home</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="about">About</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="contact">Contact</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="404">Page 404</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Narrow Template</h3>
  </div>

  <router-outlet></router-outlet>

  <footer class="footer">
    <p>&copy; 2018 NarrowTemplate, Inc.</p>
  </footer>

</div>
<!-- /container -->